<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body id="body">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="all card mb-4 box-shadow">
                <div class="card-body">
                    <div><h1>{{ city.name }}</h1></div>

                    <div>
                        <img src="http://openweathermap.org/img/w/{{  city.icon }}.png">
                    </div>
                    <div>
                        Temp: {{ city.temperature }}°C
                    </div>
                    <br>
                    <div>
                        Humidity: {{ city.humidity }}
                    </div>
                    <br>
                    <div>
                        Wind Speed: {{ city.wind }}
                    </div>

                    <div>
                        <a href="{% url 'index' %}">View Cities</a>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>