<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link href="../static/style/styles.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="every container">
    <h1 class="title_add">Edit Task: {{task.task_title}}</h1>
    <form action="{{ task.id }}/update" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="desc" for="edit">Title</label>
            <input class="form-control" id="edit" name="edit" placeholder="{{ task.task_title    }}" type="text">
            <div class="form-group">
                <label class="desc" for="description">Description</label>
                <textarea class="form-control" id="description"
                          name="description">{{ task.task_description }}</textarea>
            </div>
            <div>
                <input class="btn btn-dark" type="submit" value="Update">
                <a class="btn btn-secondary" href="{% url 'index' %}">View Tasks</a>
            </div>
            <div>

            </div>
        </div>
    </form>
    <form action="{{ task.id }}/delete" method="post">
        {% csrf_token %}
        <input class="btn btn-outline-danger" id="delete" name="delete" type="submit" value="Delete Task">
    </form>
</div>
</body>
</html>